* {
  margin: 0;
  padding: 0;
}

body {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: rgb(43, 53, 102);
  color: white;
}


nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: darkred;
  border-bottom: 2px solid white;
}

.logo img {
  height: 60px;
}

.navigation {
  display: flex;
  gap: 30px;
}

.navigation a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.navigation a:hover {
  color: #00d9ff;
}

#wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.splash {
  height: 500px;
  background: linear-gradient(to right, #020617, #1e293b);
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
  url("../assets/images/guardianswallpaper.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.splashContent {
  text-align: center;
  padding: 20px;
}

.splashContent h1 {
  margin-bottom: 10px;
}

.splashContent h3 {
  font-weight: normal;
  color: white;
}


.full {
  padding: 40px;
  margin: 30px 0;
  background-color: rgb(33, 53, 163);
  border: 5px solid white;
}


.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 40px 20px;
}

.box {
  width: 220px;
  background-color: #aa0573;
  border: 1px solid #ffffff;
  padding: 20px;
  text-align: center;
}

.box h1 {
  font-size: 20px;
  margin: 10px 0;
}

.box h3 {
  font-size: 14px;
  color: #ffffff;
}

.imgBox {
  margin-bottom: 15px;
}

.imgBox img {
  width: 100%;
  border: 2px solid #ffffff;
}


footer {
  background-color: darkred;
  border-top: 2px solid white;
  padding: 30px 20px;
  margin-top: 40px;
}

.links {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 15px;
}

.links a {
  color: white;
  text-decoration: none;
}

.links a:hover {
  color: #38bdf8;
}

.copyright {
  text-align: center;
  font-size: 14px;
  color: #ffffff;
}
